.block-container-benefits{
    background: #e6e6e6;
}

.benefits{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.benefits li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
}

.benefits li img{
    width: 24px;
    height: auto;
    aspect-ratio: 1/1;
    /* filter: brightness(-100%); */
}

.benefits li p{
    color: var(--black);
}

@media screen and (max-width: 600px){
    .benefits{
        flex-direction: column;
    }
    .benefits li{
        gap: 10px;
    }
    .benefits li img{
        width: 36px;
    }
}