.dormitorio-block-container{
    background: fuchsia;
}

.dormitorio-block-container .block-content{
    position: relative;
    height: 450px;
}

.fondo{
    width: 100%;
}

.dormitorio-container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.dormitorio-content{
    position: relative;
    width: 100%;
    height: 100%;
}

/**/

.dormitorio-cabecera-container{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    z-index: 1;
}

.dormitorio-cabecera img{
    width: 500px;
}

/**/

.dormitorio-cama-box-container{
    position: absolute;
    left: 50%;
    bottom: 30px;
    translate: -50% 0;
    z-index: 1;
}

.dormitorio-cama-box img{
    width: 500px;
}

/**/

.dormitorio-colchon-container{
    position: absolute;
    left: 50%;
    bottom: 110px;
    translate: -50% 0;
    z-index: 1;
}

.dormitorio-colchon img{
    width: 490px;
}

/**/

.dormitorio-velador-container{
    position: absolute;
    left: 0;
    bottom: 100px;
    z-index: 0;
}

.dormitorio-velador img{
    width: 90px;
}

/**/

.dormitorio-puff-container{
    position: absolute;
    right: 40%;
    bottom: 20px;
    z-index: 2;
}

.dormitorio-puff img{
    width: 100px;
}

@media screen and (max-width: 600px){
    .dormitorio-content img{
        width: 80px;
    }
}