.product-page-shipments{
    display: flex;
    gap: 20px;
}

.product-page-shipments > div select{
    /* appearance: none; */
    width: 100%;
    height: 56px;
    padding: 0 20px;
    cursor: pointer;
    border: 1px solid var(--gray);
    border-radius: 4px;
    outline: 0;
    position: relative;
    color: var(--black);
}

.product-page-shipments > div select option{
    border: 0;
}

/**/

.price-shipments{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.price-shipment{
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.price-shipment.gratis{
    border: 1px solid lightgreen;
    background: rgb(144 238 144 / 0.25);
}

.price-shipment.envio-preferente{
    border: 1px solid blue;
    background: #0000FF15;
}

.price-shipment.envio-aplicado{
    border: 1px solid orange;
    background: rgba(255 166 0 / 0.15);
}

.price-shipment.envio-express{
    border: 1px solid crimson;
    background: darkorange;
}

.price-shipment > span{
    position: absolute;
    right: 10px;
    top: -11px;
    padding: 3px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    text-align: center;
    border-radius: 3px;
}

.price-shipment.gratis > span{
    background: lightgreen;
    color: green;
}

.price-shipment.envio-preferente > span{
    background: blue;
    color: var(--white);
}

.price-shipment.envio-aplicado > span{
    background: orange;
    color: var(--white);
}

.price-shipment.envio-express > span{
    background: crimson;
    color: var(--white);
}

.price-shipment-type{
    display: flex;
    flex-direction: column;
}

.price-shipment.gratis .price-shipment-type span,
.price-shipment.gratis .price-shipment-type p{
    color: green;
}

.price-shipment.envio-preferente .price-shipment-type span,
.price-shipment.envio-preferente .price-shipment-type p{
    color: blue;
}

.price-shipment.envio-aplicado .price-shipment-type span,
.price-shipment.envio-aplicado .price-shipment-type p{
    color: orange;
}

.price-shipment.envio-express .price-shipment-type span,
.price-shipment.envio-express .price-shipment-type p{
    color: white;
}

.price-shipment-type span{
    font-size: 30px;
}

.price-shipment-price{
    position: relative;
    display: flex;
    height: 56px;
}

.price-shipment-price p{
    margin: auto;
    font-size: 24px;
    font-weight: bold;
}

.price-shipment.gratis .price-shipment-price p{
    color: green;
}

.price-shipment.envio-preferente .price-shipment-price p{
    color: blue;
}

.price-shipment.envio-aplicado .price-shipment-price p{
    color: orange;
}

.price-shipment.envio-express .price-shipment-price p{
    color: white;
}

@media screen and (max-width: 600px){
    .product-page-shipments{
        flex-direction: column;
    }
}