/* .select-group{
    display: flex;
    flex-direction: column;
}

.select-group select{
    width: 100%;
    height: 56px;
    cursor: pointer;
    padding: 0 20px;
    border-radius: 6px;
}

.envio-details{
    gap: 15px;
}

.delivery-type{
    position: relative;
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: var(--t-200ms-linear);
}

.delivery-type .d-flex-column span{
    font-size: 36px;
    transition: var(--t-200ms-linear);
}

.delivery-type > p{
    font-size: 32px;
    font-weight: bold;
    transition: var(--t-200ms-linear);
}

.delivery-type-span{
    position: absolute;
    right: 16px;
    bottom: calc(100% - 10px);
    padding: 0 8px;
    width: auto;
    height: 20px;
    border-radius: 4px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--t-200ms-linear);
    z-index: 1;
}

.delivery-type.envío-express{
    border: 1px solid orangered;
    background: rgba(255 165 0 / 0.25);
}

.delivery-type.envío-express .d-flex-column span,
.delivery-type.envío-express .d-flex-column p{
    color: orangered;
}

.delivery-type.envío-express > p{
    color: orangered;
}

.delivery-type.envío-express .delivery-type-span{
    background: orangered;
    color: var(--white);
}

.delivery-type.gratis{
    border: 1px solid green;
    background: rgb(144 238 144 / 0.25);
}

.delivery-type.gratis .d-flex-column span,
.delivery-type.gratis .d-flex-column p{
    color: green;
}

.delivery-type.gratis > p{
    color: green;
}

.delivery-type.gratis .delivery-type-span{
    background: green;
    color: var(--white);
}

.delivery-type.envío-preferente{
    border: 1px solid blue;
    background: rgba(0 0 255 / 0.05);
}

.delivery-type.envío-preferente .d-flex-column span,
.delivery-type.envío-preferente .d-flex-column p{
    color: blue;
}

.delivery-type.envío-preferente > p{
    color: blue;
}

.delivery-type.envío-preferente .delivery-type-span{
    background: blue;
    color: var(--white);
}

.delivery-type.envío-aplicado{
    border: 1px solid orange;
    background: yellow;
}

.delivery-type.envío-aplicado .d-flex-column span,
.delivery-type.envío-aplicado .d-flex-column p{
    color: orange;
}

.delivery-type.envío-aplicado > p{
    color: orange;
}

.delivery-type.envío-aplicado .delivery-type-span{
    background: yellow;
    color: orange;
    border: 1px solid orange;
}

.delivery-type.envío-directo{
    border: 1px solid var(--color-2);
    background: rgb(173 51 98 / 0.2);
}

.delivery-type.envío-directo .d-flex-column span,
.delivery-type.envío-directo .d-flex-column p{
    color: var(--color-2);
}

.delivery-type.envío-directo > p{
    color: var(--color-2);
}

.delivery-type.envío-directo .delivery-type-span{
    background: var(--color-2);
    color: var(--white);
}

.delivery-type.active{
    border: 1px solid crimson;
    background: crimson;
}

.delivery-type.active .d-flex-column span,
.delivery-type.active .d-flex-column p{
    color: var(--white);
}

.delivery-type.active > p{
    color: var(--white);
}

.delivery-type.active .delivery-type-span{
    background: crimson;
    color: var(--white);
}

.shop-button{
    width: 100%;
    height: 56px;
    background: var(--color-1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--t-200ms-linear);
    gap: 10px;
    color: var(--white);
    margin-top: -5px;
}

.shop-button:hover{
    background: var(--color-2);
}

.shop-button p{
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
}

.product-counter{
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 5px;
}

.product-counter button{
    width: 72px;
    height: 48px;
    background: rgba(173 51 98 / 0.25);
    color: var(--color-2);
    border-radius: 8px;
    transition: var(--t-200ms-linear);
    font-size: 18px;
}

.product-counter button:hover{
    background: var(--color-1);
    color: var(--white);
}

.product-counter div{
    width: 100%;
    height: 100%;
    display: flex;
    border: 1px solid var(--color-2);
    border-radius: 8px;
}

.product-counter div span{
    margin: auto;
    color: var(--text);
}
 */

.envios-button-open{
    width: 100%;
    min-height: 56px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 5px;
    padding: 10px;
    border: 1px solid rgba(0 0 0 / 0.1);
    border-radius: 4px;
    transition: var(--t-200ms-linear);
}

.envios-button-open:hover{
    background: rgba(0 0 0 / 0.05);
    border: 1px solid transparent;
}

.envios-button-open p,
.envios-button-open span{
    color: var(--text);
}

.envios-button-open span{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.envios-button-open p{
    margin-right: auto;
    text-align: left;
}

.cambiar-envio{
    margin-left: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-1);
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}

.cambiar-envio:hover{
    text-decoration: underline;
}

/**/

.envios-container{
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: calc(100% - 40px);
    height: auto;
    max-height: calc(100vh - 40px);
    max-height: 600px;
    overflow-y: auto;
    max-width: 480px;
    padding: 20px;
    background: var(--white);
    transition: var(--t-200ms-linear);
    interpolate-size: allow-keywords;
    /* border-radius: 4px; */
    display: flex;
    flex-direction: column;
    z-index: 301;

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.envios-container::-webkit-scrollbar{
    background: rgba(0 0 0 / 0.1);
    width: 4px;
}

.envios-container::-webkit-scrollbar-thumb{
    background: var(--color-1);
    /* border-radius: 4px; */
}

.envios-container.active{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;
}

.envios-select{
    position: relative;
}

.envios-select-top{
    width: 100%;
    height: 56px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 4px;
    border: 1px solid rgba(0 0 0 / 0.1);
    transition: var(--t-200ms-linear);
}

.envios-select-options-container{
    /* position: absolute;
    top: calc(100% + 10px);
    left: 0; */
    background: var(--white);
    flex-direction: column;
    width: 100%;
    height: 0;
    max-height: calc(56px * 3);
    border-radius: 6px;
    background: var(--white);
    transition: var(--t-200ms-linear);
    overflow-y: auto;
    interpolate-size: allow-keywords;
    border: 1px solid transparent;
    z-index: 1;
}

.envios-select-options-container.active{
    height: auto;
    border: 1px solid rgba(0 0 0 / 0.1);
    margin: 10px 0 20px 0;
}

.envios-select-options-container::-webkit-scrollbar{
    width: 4px;
    background: rgba(0 0 0 / 0.1);
}

.envios-select-options-container::-webkit-scrollbar-thumb{
    background: var(--color-1);
}

.envios-select-options-content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.envios-select-options-content p{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    cursor: pointer;
    transition: var(--t-200ms-linear);
}

.envios-select-options-content p:hover{
    background: rgba(0 0 0 / 0.05);
}

/**/

.envios-layer{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0 0 0 / 0.25);
    transition: var(--t-200ms-linear);
    backdrop-filter: blur(1px);
    z-index: 300;

    opacity: 0;
    pointer-events: none;
    user-select: none;
}


.envios-layer.active{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;
}