.product-page-description > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-page-description > div > ul li{
    width: 100%;
    min-height: 56px;
    display: grid;
    grid-template-columns: 220px 1fr;
}

.product-page-description > div > ul li:nth-child(2n - 1){
    background: rgba(0 0 0 / 0.05);
}

.product-page-description > div:nth-child(2) > ul li:nth-child(2n - 1){
    background: transparent;
}

.product-page-description > div:nth-child(2) > ul li:nth-child(2n){
    background: rgba(0 0 0 / 0.05);
}

.product-page-description > div > ul li div{
    display: flex;
    align-items: center;
    justify-content: left;
}

.product-page-description > div > ul li div:nth-child(1){
    padding-left: 10px;
}

.product-page-description > div > ul li div strong{
    color: var(--black);
    font-weight: bold;
}

.product-page-description > div > ul li div:nth-child(2) p::first-letter{
    text-transform: uppercase;
}


@media screen and (max-width: 600px){
    .product-page-description > div > ul li{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .product-page-description > div:nth-child(2) > ul li:nth-child(2n - 1){
        background: rgba(0 0 0 / 0.05);
    }
    
    .product-page-description > div:nth-child(2) > ul li:nth-child(2n){
        background: transparent;
    }
}