.modal-datos-container{
    position: fixed;
    right: 20px;
    bottom: 100px;
    width: calc(100vw - 40px);
    max-width: 400px;
    display: flex;
    transition: var(--t-300ms-linear);
    border: 1px solid rgba(0 0 0 / 0.25);
    box-shadow: 0 0 6px rgba(0 0 0 / 0.25);
    border-radius: 10px;
    overflow: hidden;
    z-index: 200;
}

.modal-datos-container.desactive{
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.modal-datos-content{
    width: 100%;
    background: var(--white);
    padding: 20px;
    position: relative;
}

.modal-datos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-datos ul li{
    display: flex;
    flex-direction: column;
}

.modal-datos ul li label{
    color: var(--text);
}

.modal-datos ul li input{
    padding: 0 20px;
    width: 100%;
    height: 56px;
    border-radius: 4px;
    outline: 0;
    border: 1px solid var(--gray);
}

.modal-datos ul li select{
    width: 100%;
    height: 56px;
    cursor: pointer;
    padding: 0 20px;
    border-radius: 4px;
    border: 1px solid var(--gray);
}

.modal-datos-buttons button{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 20px;
    border-radius: 4px;
}

.modal-datos-close{
    background: rgba(0 0 0 / 0.1);
}

.modal-datos-close span,
.modal-datos-close p{
    color: var(--text);
}

.modal-datos-confirm{
    background: var(--color-1);
    transition: var(--t-200ms-linear);
}

.modal-datos-confirm:hover{
    background: var(--color-2);
}

.modal-datos-confirm span,
.modal-datos-confirm p{
    color: var(--white);
}

.modal-datos > p a{
    color: var(--color-1);
}

.modal-datos > p a:hover{
    text-decoration: underline;
}
