.featured-product-container{
    margin: auto;
    width: 100%;
    max-width: var(--container-mx-width);
    background: #F2F2F2;
    padding: 40px 20px !important;
}

.featured-product-content{
    /* background: #F2F2F2; */
    /* padding: 20px; */
    border-radius: 6px;
    display: grid;
    grid-template-columns: 1fr 500px;
    gap: 20px;
}

.featured-product-content div img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 6px;
}

@media screen and (max-width: 600px){
    .featured-product-container{
        padding: 20px !important;
    }

    .featured-product-content{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
