.filters-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* .filter */

.filter ul{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.filter ul li{
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    background: rgba(0 0 0 / 0.15);
    border: 1px solid gray;
    padding: 2px 9px;
    overflow: hidden;
    transition: var(--t-200ms-linear);
}

.filter ul li:hover,
.filter ul li.active{
    border: 1px solid var(--color-2);
    background: var(--color-2);
}

.filter ul li input{
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.filter ul li label{
    font-size: 13px;
    color: var(--text);
}

.filter ul li:hover label,
.filter ul li.active label{
    color: var(--white);
    transition: var(--t-200ms-linear);
}