:root{
    --gratis: #0AC40A;
    --preferente: blue;
    --aplicado: gold;
    --express: orangered;
}

/**/

.tipo-de-envio{
    border: 1px solid rgba(0 0 0 / 0.1);
    border-radius: 4px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--t-200ms-linear);
}

.tipo-de-envio:hover,
.tipo-de-envio.active{
    border: 1px solid crimson;
    background: rgb(220 20 60 / 0.15);
}

.tipo-de-envio.active{
    padding: 10px 20px;
}

.tipo-de-envio:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 36px;
    height: 36px;
    display: flex;
    clip-path: polygon(0 0, 0 100%, 100% 0);
    background: crimson;
    transition: var(--t-200ms-linear);

    opacity: 0;
}

.tipo-de-envio.active:before{
    opacity: 1;
}

.tipo-de-envio:after{
    content: "✔";
    position: absolute;
    left: 6px;
    top: 2px;
    z-index: 2;
    color: var(--white);
    font-size: 12px;
    transition: var(--t-200ms-linear);

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.tipo-de-envio.active:after{
    opacity: 1;
}

.tipo-de-envio > .d-flex-column > span{
    font-size: 36px;
    transition: var(--t-200ms-linear);
}

.tipo-de-envio-price{
    font-size: 30px;
    font-weight: bold;
    transition: var(--t-200ms-linear);
}

.tipo-de-envio:hover > .d-flex-column > span,
.tipo-de-envio:hover > .d-flex-column > p,
.tipo-de-envio.active > .d-flex-column > span,
.tipo-de-envio.active > .d-flex-column > p{
    color: crimson;
}

.tipo-de-envio:hover .tipo-de-envio-price,
.tipo-de-envio.active .tipo-de-envio-price{
    color: crimson;
}

/**/

.hasta{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 7px;
    background: #E5E5E5;
    right: 10px;
    bottom: calc(100% - 12.5px);
    width: auto;
    height: 25px;
    border-radius: 3px;
    font-size: 11px;
    color: var(--text);
    transition: var(--t-200ms-linear);
}

.tipo-de-envio:hover .hasta,
.tipo-de-envio.active .hasta{
    background: crimson;
    color: var(--white);
}

.tipo-de-envio.active .hasta{
    right: 20px;
}

/**/

.envío-express{
    border: 1px solid var(--express);
    background: rgba(255 165 0 / 0.1);
}

.envío-express > .d-flex-column > span,
.envío-express > .d-flex-column > p{
    color: var(--express);
}

.envío-express .tipo-de-envio-price{
    color: var(--express);
}

.envío-express .hasta{
    background: var(--express);
    color: var(--white);
}

/**/

.gratis{
    border: 1px solid var(--gratis);
    background: rgba(37 214 76 / 0.1);
}

.gratis > .d-flex-column > span,
.gratis > .d-flex-column > p{
    color: var(--gratis);
}

.gratis .tipo-de-envio-price{
    color: var(--gratis);
}

.gratis .hasta{
    background: var(--gratis);
    color: var(--white);
}

/**/

.envío-preferente{
    border: 1px solid var(--preferente);
    background: rgba(0 0 255 / 0.1);
}

.envío-preferente > .d-flex-column > span,
.envío-preferente > .d-flex-column > p{
    color: var(--preferente);
}

.envío-preferente .tipo-de-envio-price{
    color: var(--preferente);
}

.envío-preferente .hasta{
    background: var(--preferente);
    color: var(--white);
}

/**/

.envío-aplicado{
    border: 1px solid var(--aplicado);
    background: rgba(255 215 0 / 0.15);
}

.envío-aplicado > .d-flex-column > span,
.envío-aplicado > .d-flex-column > p{
    color: var(--aplicado);
}

.envío-aplicado .tipo-de-envio-price{
    color: var(--aplicado);
}

.envío-aplicado .hasta{
    background: var(--aplicado);
    color: var(--white);
}

/**/

.envío-directo{
    border: 1px solid var(--color-1);
    background: rgba(173 51 98 / 0.15);
}

.envío-directo > .d-flex-column > span,
.envío-directo > .d-flex-column > p{
    color: var(--color-1);
}

.envío-directo .tipo-de-envio-price{
    color: var(--color-1);
}

.envío-directo .hasta{
    background: var(--color-1);
    color: var(--white);
}

/**/

.tipos-de-envio-ask-button{
    display: flex;
    margin-left: auto;
    cursor: pointer;
    font-size: 14px;
    color: var(--text);
}

.tipos-de-envio-ask-button:hover{
    text-decoration: underline;
}

.tipos-de-envios-ask-content{
    position: fixed;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
    width: calc(100% - 40px);
    max-width: 480px;
    height: auto;
    max-height: calc(100vh - 40px);
    overflow-y: auto;
    padding: 20px;
    border: 1px solid rgba(0 0 0 / 0.1);
    transition: var(--t-200ms-linear);
    background: var(--body);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    opacity: 0;
    pointer-events: none;
    user-select: none;

    z-index: 301;
}

.tipos-de-envios-ask-content.active{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;
}

.tipos-de-envios-ask-close{
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    transition: var(--t-200ms-linear);
    cursor: pointer;
}

.tipos-de-envios-ask-close:hover{
    color: red;
}

.tipos-de-envios-ask-content ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tipos-de-envios-ask-content ul li{
    flex: 1 1 clamp(100px, calc(calc(100% / 2) - calc(10px / 2)), 100%);
    /* max-width: calc(calc(100% / 2) - calc(10px / 2)); */
    padding: 10px;
    border: 1px solid red;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}

.tipos-de-envios-ask-content ul li span{
    font-size: 30px;
}

.tipos-de-envios-ask-content ul li .title{
    color: var(--text);
    font-size: 18px;
    margin-bottom: 10px;
}

/**/

.tipos-de-envio-layer{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 300;
    background: rgba(0 0 0 / 0.1);
    backdrop-filter: blur(1px);
    transition: var(--t-200ms-linear);

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.tipos-de-envio-layer.active{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;
}