:root{
    --product-card-images-height: 240px;
}

.category-page-container{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.category-page-top{
    grid-column: 1/-1;
}

.category-page-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/**/

.filter{
    width: auto;
    height: auto;
    padding: 10px;
    background: #00000010;
    border-radius: 5px;
}

.filter-name{
    /* font-size: 17px; */
    margin-bottom: 10px;
}

.filter ul li{
    display: flex;
    gap: 10px;
}

/**/

.category-page-products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category-page-products li{
    width: 100%;
    flex: 1 1 clamp(200px, calc(calc(100% / 4) - calc(30px / 4)), 100%);
    max-width: calc(calc(100% / 4) - calc(30px / 4));
}

.product-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    border: 1px solid gray;
    background: var(--white);
    border-radius: 8px;
    overflow: hidden;
    transition: var(--t-200ms-linear);
}

.product-card:hover{
    background: var(--color-1);
}

.product-card-images{
    display: flex;
    width: 100%;
    height: var(--product-card-images-height);
    position: relative;
}

.product-card-images img{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: calc(100% -20px);
    height: calc(100% - 20px);
    object-fit: contain;
    /* aspect-ratio: 1/1; */
}

.product-card-content{
    width: 100%;
    height: calc(100% - var(--product-card-images-height));
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-card-discount{
    position: absolute;
    left: 10px;
    top: 10px;
    background: var(--color-2);
    font-size: 13px;
    font-weight: bold;
    color: var(--white);
    padding: 3px 8px;
    border-radius: 25px;
    z-index: 10;
}

.product-card-brand{
    color: var(--black);
    font-size: 11px;
    font-weight: 600;
}

.product-card-name{
    color: var(--text);
    font-size: 14px;
}

.product-card-prices{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.product-card-regular-price,
.product-card-normal-price{
    text-decoration: line-through;
    color: var(--text);
}

.product-card-normal-price{
    font-size: 18px;
}

.product-card-sale-price{
    position: absolute;
    right: 0;
    top: 50%;
    translate: 0 -50%;
    color: red;
    font-size: 24px;
    font-weight: bold;
}

.product-card:hover .product-card-sale-price{
    animation: priceShake 500ms linear infinite;
}

@keyframes priceShake{
    0%, 50%{
        rotate: 2deg;
    }
    50%{
        rotate: -2deg;
    }
}

/**/

@media screen and (max-width: 600px){
    .category-page-container{
        display: flex;
        flex-direction: column;
    }

    .product-card{
        flex: 1 1 clamp(100px, calc(calc(100% / 2) - calc(10px / 2)), 100%);
        max-width: calc(calc(100% / 2) - calc(10px / 2));
    }
    .product-card-images img{
        width: 80%;
    }
}

.custom-slider {
    position: relative;
    width: 100%;
    /* height: 100px; */
    background-color: orange;
    border-radius: 5px;
    margin: 20px 0;
    cursor: pointer;
}

.slider-track {
    position: absolute;
    height: 8px;
    background-color: red;
    border-radius: 5px;
    z-index: 1;
    width: 100%; /* Estilo visual */
}

.slider-thumb {
    position: absolute;
    top: -4px;
    width: 16px;
    height: 16px;
    background-color: red;
    border-radius: 50%;
    z-index: 2;
    border: 2px solid #fff;
    transform: translateX(-50%);
    cursor: grab;
}
