:root{
    --product-card-images-height: 200px;
}

.main-category > .block-container{
    padding: 20px;
}

.category-page-container{
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 20px;
}

.category-page-top{
    grid-column: 1/-1;
}

.category-page-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/**/

.category-page-products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category-page-products li{
    width: 100%;
    flex: 1 1 clamp(200px, calc(calc(100% / 4) - calc(30px / 4)), 100%);
    max-width: calc(calc(100% / 4) - calc(30px / 4));
}

.product-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */

    border: 2px solid rgba(0 0 0 / 0.15);
    background: var(--white);
    border-radius: 8px;
    overflow: hidden;
    transition: var(--t-200ms-linear);
}

.product-card:hover{
    border: 2px solid var(--color-1);
}

.product-card-images{
    margin: 10px;
    background: var(--white);
    display: flex;
    width: calc(100% - 20px);
    height: var(--product-card-images-height);
    position: relative;
    overflow: hidden;
}

.product-card-discount{
    position: absolute;
    left: 0;
    top: 0;
    background: var(--color-2);
    font-size: 13px;
    font-weight: bold;
    color: var(--white);
    padding: 3px 8px;
    border-radius: 25px;
    z-index: 2;
}

.product-card-images img{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: var(--t-200ms-linear);
    aspect-ratio: 1/1;
    z-index: 0;
}

.product-card:hover .product-card-images img{
    scale: 1.25;
}

.product-card-content{
    width: 100%;
    height: calc(100% - var(--product-card-images-height));
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.product-card-ofert{
    position: absolute;
    right: 10px;
    bottom: 100%;
    background: red;
    padding: 3px 9px;
    border-radius: 3px;
    z-index: 10;
}

.product-card-ofert span{
    font-size: 13px;
    color: var(--white);
    font-weight: bold;
}

.product-card-brand{
    color: var(--black);
    font-size: 11px;
    font-weight: 600;
}

.product-card-name{
    color: var(--text);
    font-size: 14px;
}

.product-card-prices{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.product-card-regular-price,
.product-card-normal-price{
    text-decoration: line-through;
    color: var(--text);
}

.product-card-normal-price{
    font-size: 17px;
}

.product-card-sale-price{
    position: absolute;
    right: 0;
    top: 50%;
    translate: 0 -50%;
    color: var(--color-1);
    font-size: 25px;
    font-weight: bold;
}

/* .product-card:hover .product-card-sale-price{
    animation: priceShake 500ms linear infinite;
}

@keyframes priceShake{
    0%, 50%{
        rotate: 2deg;
    }
    50%{
        rotate: -2deg;
    }
} */

/**/

@media screen and (max-width: 600px){
    :root{
        --product-card-images-height: 180px;
    }

    .category-page-container{
        display: flex;
        flex-direction: column;
    }

    .category-page-products li{
        width: 100%;
        flex: 1 1 clamp(200px, calc(calc(100% / 2) - calc(10px / 2)), 100%);
        max-width: calc(calc(100% / 2) - calc(10px / 2));
    }
}