.ultimas-novedades-container{
    width: 100%;
    overflow-x: scroll;
    cursor: grab;
    user-select: none;
}

.ultimas-novedades-container::-webkit-scrollbar{
    display: none;
}

.ultimas-novedades-content{
    width: auto;
    display: flex;
    gap: 10px;
}

.ultimas-novedades-content li .product-card{
    flex: unset;
    max-width: none;
    width: 280px;
}

.product-card-target{
    position: absolute;
    right: 20px;
    bottom: 100%;
    background: lightgreen;
    padding: 2px 8px;
    border-radius: 3px;
    display: flex;
}

.product-card-target span{
    font-size: 13px;
    color: green;
    /* font-weight: bold; */
}

.ultimas-novedades-block-content .block-title-buttons{
    margin-top: 20px;
    justify-content: right;
}

@media screen and (max-width: 600px){
    .ultimas-novedades-container{
        padding-bottom: 20px;
    }
}