.form-complaints-book-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.form-complaints-book-container fieldset{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    border: 0;
    outline: 0;
}

.form-complaints-book-content fieldset input{
    width: 100%;
    height: 56px;
    padding: 0 10px;
}

.form-complaints-book-content fieldset select{
    width: 100%;
    height: 56px;
}

.form-complaints-book-container fieldset textarea{
    width: 100%;
    height: 120px;
    padding: 20px;
}

/**/

@media screen and (max-width: 800px){
    .form-complaints-book-content{
        grid-template-columns: repeat(3, 1fr);
    }
}

/**/

@media screen and (max-width: 600px){
    .form-complaints-book-content{
        grid-template-columns: 1fr;
    }
}
