.product-page-block-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-page-direction{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    gap: 5px;
}

.product-page-direction a:nth-child(1) span{
    color: var(--text);
    transition: var(--t-200ms-linear);
}

.product-page-direction a:nth-child(1):hover span{
    color: var(--color-1);
}

.product-page-direction a,
.product-page-direction > p{
    text-transform: uppercase;
}

.product-page-direction a p{
    font-size: 14px;
    color: var(--text);
}

.product-page-direction a:hover p{
    color: var(--black);
}

/**/

.product-page-container{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.product-page-target{
    width: 100%;
}

.product-page-category{
    color: var(--color-1);
    text-transform: uppercase;
    font-weight: bold;
}

.product-page-target-1{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}

.product-page-target-1 ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-page-target-1 ul li{
    width: 140px;
    height: 140px;
    padding: 10px;
    display: flex;
    border: 1px solid var(--gray);
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
}

.product-page-target-1 ul li img{
    margin: auto;
    width: 90%;
}

.product-page-principal-image{
    position: relative;
    width: 100%;
    border: 1px solid var(--gray);
    border-radius: 4px;
    display: flex;
    gap: 20px;
}

.product-page-discount{
    position: absolute;
    left: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 2.5px;
    font-weight: bold;
    background: var(--color-1);
    color: var(--white);
}

.product-page-principal-image img{
    margin: auto;
    width: 80%;
}

.product-page-target-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-page-top-info{
    position: relative;
}

.product-page-top-info::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -9.5px;
    width: 100%;
    height: 1px;
    background: rgba(0 0 0 / 0.1);
    border-radius: 2px;
}

.product-page-target-2 h1{
    font-size: 20px;
    font-weight: bold;
    color: var(--black);
}

.product-page-sku{
    font-size: 13px;
    color: var(--text);
    font-weight: bold;
}

.product-page-sizes{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.product-page-sizes li a{
    background: #777777;
    padding: 5px 10px;
    border-radius: 3px;
    transition: var(--t-200ms-linear);
}

.product-page-sizes li a:hover{
    background: var(--color-1);
}

.product-page-sizes li a p{
    color: var(--white);
    font-size: 13px;
    font-weight: bold;
}

.product-page-more-info{
    position: relative;
}

.product-page-more-info::before{
    content: '';
    position: absolute;
    left: -20px;
    top: 0;
    width: 1px;
    height: 100%;
    background: rgba(0 0 0 / 0.1);
    border-radius: 2px;
}

.product-page-prices{
    display: flex;
    flex-direction: column;
}

.price-regular{
    color: var(--gray);
    text-decoration: line-through;
    font-size: 13px;
}

.price-normal{
    color: var(--gray);
    text-decoration: line-through;
}

.price-sell{
    color: #FF0000;
    font-size: 24px;
    font-weight: bold;
}

/**/

.product-page-gifts{
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-page-gifts h4,
.product-page-details h4{
    font-weight: bold;
    font-size: 18px;
    color: var(--black);
}

.product-page-gifts ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-page-gifts ul li{
    padding: 15px;
    background: rgba(0 0 0 / 0.03);
    border: 1px solid var(--gray);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.product-page-gifts ul li::before{
    content: '+';
    position: absolute;
    left: calc(100% + 3px);
    top: 50%;
    translate: 0 -50%;
    color: var(--color-1);
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
}

.product-page-gifts ul li:nth-last-child(1):before{
    display: none;
}

.product-page-gifts ul li p{
    color: var(--text);
    position: absolute;
    left: calc(100% + 5px);
    top: 0;
    /* min-width: 100%; */
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    background: var(--color-1);
    border-radius: 4px;
    color: var(--white);
    font-size: 12px;
    transition: var(--t-100ms-linear);
    z-index: 1;

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.product-page-gifts ul li:hover p{
    opacity: 1;
}

.product-page-gifts ul li img{
    width: 60px;
    height: auto;
}

/**/

.product-page-details ul li{
    display: flex;
    gap: 5px;
}

.product-page-details ul li strong{
    font-weight: bold;
    color: var(--black);
}

/**/

.product-page-counter p{
    color: var(--gray);
    font-size: 12px;
}

.product-page-counter div{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 2.5px;
}

.product-page-counter div button{
    display: flex;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    background: var(--color-2);
    border-radius: 4px;
    color: var(--white);
    font-size: 20px;
}

.product-page-counter div input{
    width: auto;
    max-width: 96px;
    height: 48px;
    border: 1px solid var(--gray);
    border-radius: 4px;
    outline: 0;
}

.product-page-whatsapp{
    background: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: auto;
    min-height: 56px;
    padding: 0 20px;
    border-radius: 8px;
}

.product-page-whatsapp img{
    width: 30px;
    height: 30px;
}

.product-page-whatsapp p{
    font-weight: bold;
    color: var(--white);
    text-transform: uppercase;
}

/**/

.product-page-bottom{
    width: 100%;
    position: relative;
    border-top: 1px solid var(--gray);
    padding: 20px 0;
}

.product-page-bottom .product-page-details{
    width: 100%;
}

.product-page-bottom .product-page-details > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-page-bottom .product-page-details > div ul{
    width: 100%;
    border: 1px solid #99999925;
    border-radius: 10px;
}

.product-page-bottom .product-page-details > div ul li{
    width: 100%;
    display: grid;
    grid-template-columns: 280px 2fr;
    min-height: 56px;
}

.product-page-bottom .product-page-details > div ul li:nth-child(2n){
    background: rgba(0 0 0 / 0.03);
}

.product-page-bottom .product-page-details > div ul li div{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 20px;
}

.product-page-bottom .product-page-details > div ul li div:nth-child(2){
    padding: 0;
}

.product-page-bottom .product-page-details > div ul li div strong{
    color: var(--black);
    font-weight: bold;
}

/**/

@media screen and (max-width: 600px){
    .product-page-container{
        flex-direction: column;
    }

    .product-page-target-1{
        display: flex;
        flex-direction: column-reverse;
    }

    .product-page-target-1 ul li{
        width: 80px;
        height: 80px;
    }

    .product-page-gifts li img{
        width: 60px;
    }

    /**/

    .product-page-bottom .product-page-details > div ul li{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .product-page-bottom .product-page-details > div ul li div{
        /* min-height: 48px; */
        padding: 0;
    }

    .product-page-bottom .product-page-details > div ul li div:nth-child(2){
        padding: 0;
    }
}