.block-content-sale{
    background: #121212;
    border-radius: 10px;
    padding: 20px;
}

.block-content-sale .block-title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.block-content-sale .block-title-container .block-title{
    margin: unset;
    color: var(--white);
}

.sale-time{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.sale-time div{
    position: relative;
    width: 48px;
    height: 64px;
    background: crimson;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.sale-time div span{
    font-weight: bold;
    color: var(--white);
}

.sale-time div p{
    position: absolute;
    top: 100%;
    left: 50%;
    translate: -50% 0;
    color: var(--white);
    font-size: 13px;
}

/**/

.sale-products-container{
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 20px;
    cursor: grabbing;
}

.sale-products-container.dragging{
    cursor: -webkit-grabbing;
    scroll-behavior: auto !important;
    user-select: none;
}

.sale-products-container::-webkit-scrollbar{
    display: none;
}

.block-content-sale .product-card-discount{
    background: crimson;
}

.sale-products-content{
    width: auto;
}

.sale-products{
    width: 100%;
    display: flex;
    gap: 10px;
}

.sale-products li .product-card{
    max-width: none;
    border: 2px solid #121212;
    width: 280px;
    background: var(--white);
}

.sale-products li .product-card:hover{
    border: 2px solid crimson !important;
}

.product-card-stock{
    position: absolute;
    bottom: 100%;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.product-card-stock span{
    background: crimson;
    padding: 3px 9px;
    font-size: 13px;
    border-radius: 3px;
}

.product-card-stock span b{
    font-weight: bold;
}

.product-card-stock span,
.product-card-stock span b{
    color: var(--white);
    font-weight: bold;
}

.block-content-sale > .d-flex > .block-title-buttons button{
    background: crimson !important;
}

.sale-products .product-card-sale-price{
    color: crimson !important;
}

/**/

.sale-products li a.agotado{
    filter: grayscale(1);
    user-select: none;
    pointer-events: none;
}

/**/

@media screen and (max-width: 600px){
    .block-title-container{
        flex-direction: column;
        gap: 20px;
    }

    .block-content-sale .block-title-container{
        margin-bottom: 40px;
    }
    
    .sale-products-container{
        padding-bottom: 20px;
    }

    .sale-products-container::-webkit-scrollbar{
        display: unset;
        background: rgba(235 235 235 / 0.75);
        border-radius: 10px;
        height: 4px;
    }

    .sale-products-container::-webkit-scrollbar-thumb{
        background: crimson;
        border-radius: 10px;
    }

    .sale-products-content{
        width: 800%;
    }
}