.whatsapp-button{
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    width: 60px;
    height: 60px;
    background: var(--whatsapp);
    border-radius: 100%;
    z-index: 98;
}

.whatsapp-button img{
    margin: auto;
    width: 60%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
}

/**/

footer{
    width: 100%;
    display: flex;
    padding: 40px 20px;
    background: var(--color-2);
}

.footer{
    margin: auto;
    width: 100%;
    max-width: var(--content-mx-width);
}