:root{
    --header-top: 30px;
    --header-center: 80px;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: var(--header);
    z-index: 100;

    box-shadow: 0 5px 5px rgba(0 0 0 / 0.2.5);
}

.header-top-container{
    width: 100%;
    display: flex;
    padding: 10px 20px;
    background: var(--black);
}

.header-top{
    margin: auto;
    width: 100%;
    max-width: var(--content-mx-width);
    /* height: var(--header-top); */
    display: flex;
    align-content: center;
}

.header-top ul{
    width: auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-top ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-top ul li p{
    color: var(--gray);
    font-size: var(--f-size-small);
}

.header-top ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5px;
}

.header-top ul li a img{
    width: 15px;
    height: 15px;
    aspect-ratio: 1/1;
    object-fit: contain;
    transition: var(--t-100ms-linear);
}

.header-top ul li a:hover img{
    filter: brightness(1000%);
}

.whatsapp-icon{
    width: 18px !important;
    height: 18px !important;
}

.header-top ul li a p{
    transition: var(--t-100ms-linear);
}

.header-top ul li a:hover p{
    color: var(--white);
}

.bandera-peru{
    display: flex;
    width: 24px;
    height: 14px;
    position: relative;
    background: crimson;
}

.bandera-peru::before{
    content: '';
    display: flex;
    position: absolute;
    left: 50%;
    top: 0;
    translate: -50% 0;
    width: calc(100% / 3);
    height: 100%;
    background: var(--white);
}

.header-center-container{
    padding: 0 20px;
}

.header-center{
    margin: auto;
    width: 100%;
    height: var(--header-center);
    max-width: var(--content-mx-width);
    padding: 15px 0;
    display: flex;
    gap: 20px;
}

.header-logo{
    width: auto;
    height: 100%;
    display: flex;
}

.header-logo img{
    width: auto;
    height: 100%;
    object-fit: contain;
}

.menu-container{
    width: auto;
    display: flex;
}

.menu{
    margin: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 20px; */
    gap: 10px;
}

.menu-li{
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-link{
    width: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--t-200ms-linear);
    overflow: hidden;
    position: relative;
}

.menu-link.active{
    padding-left: 29px;
}

.menu-link::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    translate: -50% 0;
    width: 0;
    height: 2px;
    border-radius: 5px;
    background: var(--color-1);
    transition: var(--t-100ms-linear);
}

.menu-link:hover::before,
.menu-link.active::before{
    width: 100%;
}

.menu-link span{
    position: absolute;
    /* left: 10px; */
    left: -24px;
    top: 50%;
    translate: 0 -50%;
    scale: 0;
    transition: var(--t-200ms-linear);
    color: var(--color-1);
}

.menu-link.active span{
    scale: 1;
    left: 0;
}

.menu-link h2{
    color: var(--text);
    transition: var(--t-200ms-linear);
}

.menu-link:hover h2,
.menu-link.active h2{
    color: var(--color-1);
}

.menu-link-8{
    background: transparent;
    padding: 5px 0;
    gap: 2.5px;
}

.menu-link-8::before{
    background: crimson;
}

.menu-link-8:hover::before{
    width: 100%;
}

.menu-link-8:hover{
    padding: 5px 0;
    background: transparent;
}

.menu-link-8 span{
    left: unset;
    top: unset;
    translate: 0 0;
    position: unset;
    color: crimson !important;
    scale: 1;
}

.menu-link-8 h2{
    color: crimson;
}

.menu-link-8:hover h2{
    color: crimson;
}

.submenu-container{
    position: fixed;
    left: 0;
    top: 120px;
    width: 100%;
    display: flex;
    background: var(--header);
    padding: 20px;
    transition: var(--t-200ms-linear);

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.submenu-container.active{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;

    box-shadow: 0 2.5px 5px rgba(0 0 0 / 0.15);
}

.submenu{
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--content-mx-width);
    display: flex;
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr); */
    gap: 20px;
}

.submenu-target{
    width: 100%;
}

.submenu-target-title{
    font-size: 22px;
    margin-bottom: 10px;
}

.submenu-target-1{
    max-width: 350px;
}

.submenu-target-2{
    width: 100%;
    max-width: calc(100% / 4);
}

.submenu-target-2 > ul{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 5px;
}

.submenu-target-2 > ul li{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
}

.submenu-target-2 > ul li::before{
    content: '';
    display: flex;
    width: 5px;
    height: 7px;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    background: var(--color-1);
}

.submenu-link{
    display: flex;
    /* padding: 2px 6px; */
    /* border: 1px solid gray; */
    /* border-radius: 4px; */

    transition: var(--t-200ms-linear);
}

/* .submenu-link:hover{
    border: 1px solid var(--color-1);
} */

.submenu-link h3{
    color: var(--text);
    transition: var(--t-200ms-linear);
}

.submenu-link:hover h3{
    color: var(--color-1);
}

.submenu-target-3 ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.submenu-target-3 ul li{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
}

.submenu-target-3 ul li::before{
    content: '';
    display: flex;
    width: 5px;
    height: 7px;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    background: var(--color-1);
}

.submenu-sub-link{
    color: var(--color-1);
}

.submenu-sub-link p{
    color: var(--text);
}

.submenu-sub-link:hover{
    text-decoration: underline;
}

.submenu-target-4{
    display: flex;
    padding: 20px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px;
}

.submenu-target-4 img{
    margin: auto;
    width: auto;
    height: 100%;
    max-height: 250px;
    aspect-ratio: 1/1;
}

/**/

.menu-icon{
    display: none;
}

/**/

.header-bottom-container{
    width: 100%;
    display: flex;
    min-height: 45px;
    padding: 10px 20px;
    background: var(--color-2);
}

.header-bottom{
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--content-mx-width);
}

.header-bottom > a{
    color: var(--white);
}

.header-bottom > a:hover{
    text-decoration: underline;
}

.header-bottom > a p{
    color: var(--white);
    text-align: center;
}

.header-bottom ul{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-bottom ul li a{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    gap: 3px;
}

.header-bottom ul li a:hover{
    text-decoration: underline;
}

.header-bottom ul li a img{
    width: 14px;
    height: 14px;
}

.header-bottom ul li a p{
    color: var(--white);
}

.header-bottom ul li a p{
    font-size: 14px;
}

/**/

.cellphone-header-links{
    display: none;
}

/**/

.call-now-container{
    display: none;
}

/**/

.body-layer{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0 0 0 / 0.15);
    transition: var(--t-200ms-linear);
    z-index: 99;

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.body-layer.active{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;
}

/**/

@media screen and (max-width: 600px){
    .header-top > ul{
        display: none;
    }
    .header-top > ul.margin-left{
        display: flex;
    }

    .header-center{
        width: auto;
        padding: 10px 0;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        column-gap: 0;
        row-gap: 10px;
        /* height: 70px; */
    }

    .header-logo{
        margin-right: auto;
        height: 40px;
    }

    .header-center .search-bar-container{
        width: 100%;
        max-width: none;
        height: 48px;
        grid-column: 1/-1;
        grid-row: 2/3;
    }

    .menu-container{
        position: fixed;
        left: -100%;
        top: 157px;
        width: 100%;
        height: calc(100vh - 157px);
        background: var(--white);
        transition: var(--t-200ms-linear);
        /* padding-bottom: 40px; */
        overflow-y: auto;
    }
    .menu-container.active{
        left: 0;
    }
    .menu-container::-webkit-scrollbar{
        display: none;
    }

    .menu-icon{
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .menu{
        width: 100%;
        align-items: unset;
        justify-content: unset;
        flex-direction: column;
        gap: 0;
        margin: unset;
    }
    .menu-li{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .menu-link{
        width: 100%;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 0 20px;
        gap: 10px;
    }
    .menu-link:hover,
    .menu-link.active{
        padding-left: 20px;
        background: rgba(173 51 98 / 0.075);
    }
    .menu-link span{
        position: unset;
        scale: 1;
        left: unset;
        top: unset;
        translate: 0 0;
        color: var(--text);
    }
    .menu-link:hover span,
    .menu-link.active span{
        color: var(--color-1);
    }
    .menu-link::after{
        content: '>';
        margin-left: auto;
        rotate: 90deg;
        transition: var(--t-200ms-linear);
        color: var(--color-2);
        font-size: 18px;
    }
    .menu-link.active::after{
        rotate: -90deg;
    }
    .menu-link::before{
        display: none;
    }
    .menu-link-8::after{
        display: none;
    }

    .submenu-container{
        position: unset;
        left: unset;
        top: unset;
        overflow: hidden;
        height: 0;
        padding: 0 20px;
        opacity: 1;

        interpolate-size: allow-keywords;
    }
    .submenu-container.active{
        padding: 10px 20px;
        height: auto;
        box-shadow: none;
    }
    .submenu{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 10px;
    }
    .submenu-target-1{
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    .submenu-target-2{
        grid-column: 1/2;
        grid-row: 2/3;
        max-width: none;
    }
    .submenu-target-3{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .menu-li:nth-child(4) .submenu{
        grid-template-columns: 1fr;
    }
    .menu-li:nth-child(4) .submenu-target-3{
        display: none;
    }
    .submenu-target-4{
        padding: 0;
        grid-column: 1/-1;
        grid-row: 3/4;
    }
    .submenu-target-4 img{
        max-height: 200px;
    }

    .cellphone-header-links{
        margin: 10px 0;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .cellphone-header-links::before,
    .cellphone-header-links::after{
        content: '';
        position: absolute;
        left: 50%;
        top: -1px;
        translate: -50% 0;
        width: calc(100% - 40px);
        height: 2px;
        background: var(--gray);
        border-radius: 4px;
    }
    .cellphone-header-links::after{
        top: unset;
        bottom: -1px;
    }
    .cellphone-header-links ul li .menu-link::after{
        display: none;
    }

    .call-now-container{
        width: 100%;
        display: flex;
        /* align-items: center; */
        /* justify-content: center; */
        flex-direction: column;
        gap: 5px;
        padding: 0 20px;
    }
    .call-now-container p{
        /* font-weight: bold; */
        color: var(--text);
    }
    .call-now{
        width: 100%;
        height: 56px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        background: var(--color-1);
        margin-bottom: 20px;
        border-radius: 8px;
    }
    .call-now span,
    .call-now h2{
        color: var(--white);
    }

    .header-bottom > ul{
        display: none;
    }
}