:root{
    --header-top: 30px;
    --header-bottom: 70px;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: var(--header);
    z-index: 100;

    box-shadow: 0 2.5px 5px rgba(0 0 0 / 0.15);
}

.header-top-container{
    width: 100%;
    display: flex;
    padding: 0 20px;
    background: var(--black);
}

.header-top{
    margin: auto;
    width: 100%;
    height: var(--header-top);
    display: flex;
}

.header-bottom-container{
    padding: 0 20px;
}

.header-bottom{
    margin: auto;
    width: 100%;
    height: var(--header-bottom);
    max-width: var(--content-mx-width);
    padding: 10px 0;
    display: flex;
    gap: 20px;
}

.header-logo{
    width: auto;
    height: 100%;
    display: flex;
}

.header-logo img{
    width: auto;
    height: 100%;
    object-fit: contain;
}

.menu-container{
    width: auto;
    display: flex;
}

.menu{
    margin: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.menu-li{
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-link{
    width: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--t-200ms-linear);
    overflow: hidden;
    position: relative;
}

.menu-link.active{
    padding-left: 29px;
}

.menu-link::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    translate: -50% 0;
    width: 0;
    height: 2px;
    border-radius: 5px;
    background: var(--color-1);
    transition: var(--t-100ms-linear);
}

.menu-link:hover::before,
.menu-link.active::before{
    width: 100%;
}

.menu-link span{
    position: absolute;
    /* left: 10px; */
    left: -24px;
    top: 50%;
    translate: 0 -50%;
    scale: 0;
    transition: var(--t-200ms-linear);
    color: var(--color-1);
}

.menu-link.active span{
    scale: 1;
    left: 0;
}

.menu-link h2{
    transition: var(--t-200ms-linear);
}

.menu-link:hover h2,
.menu-link.active h2{
    color: var(--color-1);
}

.menu-link-8{
    background: transparent;
    padding: 5px 0;
    gap: 2.5px;
}

.menu-link-8::before{
    background: crimson;
}

.menu-link-8:hover::before{
    width: 100%;
}

.menu-link-8:hover{
    padding: 5px 0;
    background: transparent;
}

.menu-link-8 span{
    left: unset;
    top: unset;
    translate: 0 0;
    position: unset;
    color: crimson;
    scale: 1;
}

.menu-link-8 h2{
    color: crimson;
}

.menu-link-8:hover h2{
    color: crimson;
}

.submenu-container{
    position: fixed;
    left: 0;
    top: calc(var(--header-top) + var(--header-bottom));
    width: 100%;
    display: flex;
    background: var(--header);
    padding: 20px;
    transition: var(--t-200ms-linear);

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.submenu-container.active{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;

    box-shadow: 0 2.5px 5px rgba(0 0 0 / 0.15);
}

.submenu{
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--content-mx-width);
    display: flex;
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr); */
    gap: 20px;
}

.submenu-target{
    width: 100%;
}

.submenu-target-title{
    font-size: 22px;
    margin-bottom: 10px;
}

.submenu-target-1{
    max-width: 350px;
}

.submenu-target-2{
    width: 100%;
    max-width: calc(100% / 4);
}

.submenu-target-2 > ul{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 5px;
}

.submenu-target-2 > ul li{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
}

.submenu-target-2 > ul li::before{
    content: '';
    display: flex;
    width: 5px;
    height: 7px;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    background: var(--color-1);
}

.submenu-link{
    display: flex;
    /* padding: 2px 6px; */
    /* border: 1px solid gray; */
    /* border-radius: 4px; */

    transition: var(--t-200ms-linear);
}

/* .submenu-link:hover{
    border: 1px solid var(--color-1);
} */

.submenu-link h3{
    color: var(--text);
    transition: var(--t-200ms-linear);
}

.submenu-link:hover h3{
    color: var(--color-1);
}

.submenu-target-3 ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.submenu-target-3 ul li{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
}

.submenu-target-3 ul li::before{
    content: '';
    display: flex;
    width: 5px;
    height: 7px;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    background: var(--color-1);
}

.submenu-sub-link{
    color: var(--color-1);
}

.submenu-sub-link p{
    color: var(--text);
}

.submenu-sub-link:hover{
    text-decoration: underline;
}

.submenu-target-4{
    display: flex;
    padding: 20px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px;
}

.submenu-target-4 img{
    margin: auto;
    width: auto;
    height: 100%;
    max-height: 250px;
    aspect-ratio: 1/1;
}

/**/

.menu-icon{
    display: none;
}

/**/

@media screen and (max-width: 600px){
    .menu-container{
        position: fixed;
        left: -100%;
        top: 100px;
        width: 100%;
        height: calc(100vh - 100px);
        background: var(--white);
        transition: var(--t-200ms-linear);

        overflow-y: auto;
    }
    .menu-container.active{
        left: 0;
    }
    .menu-container::-webkit-scrollbar{
        display: none;
    }

    .menu-icon{
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .menu{
        width: 100%;
        align-items: unset;
        justify-content: unset;
        flex-direction: column;
        gap: 0;
        margin: unset;
    }
    .menu-li{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .menu-link{
        width: 100%;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 0 20px;
        gap: 10px;
    }
    .menu-link:hover,
    .menu-link.active{
        padding-left: 20px;
        background: rgba(173 51 98 / 0.075);
    }
    .menu-link span{
        position: unset;
        scale: 1;
        left: unset;
        top: unset;
        translate: 0 0;
    }
    .menu-link::after{
        content: '>';
        margin-left: auto;
        rotate: 90deg;
        transition: var(--t-200ms-linear);
        color: var(--color-2);
    }
    .menu-link.active::after{
        rotate: -90deg;
    }
    .menu-link::before{
        display: none;
    }
    .menu-link-8::after{
        display: none;
    }

    .submenu-container{
        position: unset;
        left: unset;
        top: unset;
        overflow: hidden;
        height: 0;
        padding: 0 20px;
        opacity: 1;

        interpolate-size: allow-keywords;
    }
    .submenu-container.active{
        padding: 20px;
        height: auto;
        box-shadow: none;
    }
    .submenu{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }
    .submenu-target-1{
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    .submenu-target-2{
        grid-column: 1/2;
        grid-row: 2/3;
        max-width: none;
    }
    .submenu-target-3{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .menu-li:nth-child(4) .submenu{
        grid-template-columns: 1fr;
    }
    .menu-li:nth-child(4) .submenu-target-3{
        display: none;
    }
    .submenu-target-4{
        padding: 0;
        grid-column: 1/-1;
        grid-row: 3/4;
    }
    .submenu-target-4 img{
        max-height: 200px;
    }
}