.search-bar-container{
    margin-left: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    max-width: 320px;
    position: relative;
}

.search-bar{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr auto;
    border: 1px solid var(--text);
    border-radius: 4px;
    overflow: hidden;
}

.search-bar input{
    width: 100%;
    height: 48px;
    border: 0;
    outline: 0;
    padding: 0 0 0 20px;
    background: var(--white);
}

.search-bar span{
    width: 56px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
}

.search-bar-items-container{
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    background: var(--header);
    width: 100%;
    height: auto;
    max-height: calc(100vh - 158px + 25px);
    border: 1px solid rgba(0 0 0 / 0.15);
    transition: var(--t-200ms-linear);
    padding: 10px;
    overflow-y: auto;
    border-radius: 4px;

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.search-bar-items-container::-webkit-scrollbar{
    width: 4px;
    background: var(--white)
}

.search-bar-items-container::-webkit-scrollbar-thumb{
    background: var(--color-1);
}

.search-bar-items-container.active{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;
}

.search-bar-items{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.search-bar-items li a{
    width: auto;
    /* height: 60px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    transition: var(--t-200ms-linear);
    border-radius: 4px;
    gap: 5px;
}

.search-bar-items li a:hover{
    background: rgba(0 0 0 / 0.05);
}

.search-bar-items li a p{
    color: var(--text);
    font-size: 14px;
}

.search-bar-items li a img{
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 3px;
}

/**/

@media screen and (max-width: 600px){
    .search-bar-container{
        max-width: none;
    }

    .search-bar-items-container{
        width: calc(100% + 40px);
        left: -20px;
        border: 0;
        padding: 0 20px;
        padding-top: 0;
        padding-bottom: 10px;
    }

    .search-bar-items li a img{
        width: 80px;
    }
}
