*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/**/

:root{
    --color-1: #AD3362;
    --color-2: #641534;

    --header: #FFFFFF;

    --white: #FFFFFF;
    --gray: gray;
    --black: #000000;

    --whatsapp: #25D366;

    --text: #333333;
    --f-size-small: 13px;

    --container-mx-width: 2000px;
    --content-mx-width: 1500px;

    --t-100ms-linear: all 100ms linear;
    --t-200ms-linear: all 200ms linear;
    --t-300ms-linear: all 300ms linear;
    --t-400ms-linear: all 400ms linear;
}

/**/

@font-face{
    font-family: 'Poppins';
    src: url('../public/assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

/**/

body::-webkit-scrollbar{
    display: none;
}

main{
    width: 100%;
    margin-top: 165px;
}

/**/

.block-container{
    width: 100%;
    padding: 20px;
    display: flex;
}

.block-content{
    margin: auto;
    width: 100%;
    max-width: var(--content-mx-width);
}

.block-title-container{
    width: 100%;
    display: flex;
    margin-bottom: 40px;
}

.block-title{
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: var(--black);
}

/**/

button{
    width: auto;
    border: 0;
    cursor: pointer;
    background: none;
    outline: 0;
}

/**/

.font-13{
    font-size: 13px !important;
}

.color-white{
    color: var(--white) !important;
}

.color-gray{
    color: gray !important;
}

.text{
    color: var(--text);
    transition: var(--t-200ms);
}

.title{
    font-size: 20px;
}

/**/

.d-flex{
    display: flex;
}

.d-flex-center-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-auto{
    margin: auto;
}

.margin-left{
    margin-left: auto;
}

.margin-right{
    margin-right: auto;
}

.margin-top{
    margin-top: auto;
}

.margin-bottom{
    margin-bottom: auto;
}

/**/

.gap-10{
    gap: 10px;
}

/**/

.text-center{
    text-align: center;
}

@media screen and (max-width: 600px){
    *{
        cursor: none !important;
    }
    
    main{
        margin-top: 224px;
    }
}