*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

:root{
    --black: #000000;

    --content-mx-width: 1440px;
}

@font-face{
    font-family: 'Poppins';
    src: url('../public/assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}