.header-top-container{
    background: var(--black);
    width: 100%;
    height: 40px;
    padding: 0 20px;
    display: flex;
}

.header-top{
    margin: 0 auto;
    width: 100%;
    max-width: var(--content-mx-width);
}

.header-top-left li > p,
.header-top-left > li > a h2,
.header-top-left > li > ul li a h2{
    color: var(--gray);
    /* color: red; */
    font-size: 14px;
}

.header-top-left > li a img,
.header-top-left > li > ul li a img{
    width: auto;
    height: 14px;
    aspect-ratio: 1/1;
}

.header-top-left > li a img{
    height: 17px;
}

/**/

.location p{
    color: var(--white);
}

.location span{
    display: flex;
    position: relative;
    width: 27px;
    height: 17px;
    background: crimson;
}

.location span::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    translate: -50% 0;
    width: calc(100% / 3);
    height: 100%;
    background: var(--white);
}

/**/

@media screen and (max-width: 600px){
    .header-top > ul{
        display: none;
    }

    .location p{
        font-size: 15px;
    }

    .location span{
        width: 25px;
        height: 15px;
    }
}