.slider-general-container{
    background: var(--color-2);
    width: 100%;
    margin: 0 auto;
    max-width: 2000px;
}

.slider-general-container > img{
    margin: 0 auto;
    width: auto;
    max-width: var(--content-mx-width);
    height: auto;
    max-height: 56px;
    /* height: 40px; */
}

.hero-container{
    margin: auto;
    width: 100%;
    height: calc(100vh - 165px);
    max-height: 600px;
    position: relative;
    overflow: hidden;
}

.hero{
    margin: auto;
    display: flex;
    width: 100%;
    height: 100%;
}

.slider-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--color-2);
}

.slider-container::-webkit-scrollbar{
    display: none;
}

.slider{
    width: 600%;
    height: 100%;
    display: flex;
    transition: all 500ms ease-in-out;
}

.slider li{
    width: 100%;
    height: 100%;
    display: flex;
}

.slider li img{
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
}

.hero-slider-button{
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background: var(--color-1);
}

.hero-slider-button span{
    color: var(--white);
}

.hero-slider-button-1{
    left: 20px;
}

.hero-slider-button-2{
    right: 20px;
}

@media screen and (max-width: 600px){
    .slider-general-container > img{
        width: 100%;
        height: auto;
        max-height: none;
    }

    .hero-container{
        /* height: auto; */
        max-height: 180px;
    }

    .slider{
        width: 600%;
        display: flex;
        transition: var(--t-200ms-linear);
    }

    /* .hero-slider-button{
        width: 24px;
        height: 40px;
    } */
}
