.block-container-homepage-about-us section{
    display: grid;
    grid-template-columns: auto 1fr;
}

.block-container-homepage-about-us .block-content .d-grid-2-1fr.gap-10{
    grid-column: 1/-1;
    margin-bottom: 20px;
}

.block-container-homepage-about-us .block-content .d-grid-2-1fr.gap-10 video{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.homepage-about-us-images-container{
    grid-column: 1/-1;
}

.homepage-about-us-images{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.homepage-about-us-images li{
    width: 100%;
    display: flex;
}

.homepage-about-us-images li img{
    /* width: 100%;
    height: 200px; */
    border-radius: 6px;
    object-fit: cover;
}

@media screen and (max-width: 600px){
    .block-container-homepage-about-us section{
        grid-template-columns: 1fr;
    }

    .block-container-homepage-about-us .block-content .d-grid-2-1fr.gap-10 iframe{
        width: 100%;
        height: 200px;
    }

    .homepage-about-us-images-container{
        overflow-x: auto;
        padding-bottom: 20px;
    }

    .homepage-about-us-images-container::-webkit-scrollbar{
        background: rgba(0 0 0 / 0.15);
        height: 4px;
        border-radius: 5px;
    }

    .homepage-about-us-images-container::-webkit-scrollbar-thumb{
        background: var(--color-1);
    }

    .homepage-about-us-images{
        width: 876px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .homepage-about-us-images li{
        width: calc(50% - 2.5px);
    }
    .homepage-about-us-images li img{
        height: 100px;
    }
}